

/* 
#AAF  ==> #445 
#5AF  ==> #444

#F7F9FB
*/

.litegui-wrap {
    background-color: #fff;
    color: #444;
}
.litemenubar{
    line-height: 25px;
   
}
.litemenubar-panel {
	background-color: #ffffff;
    box-shadow: 0 0 3px ffffff;
    border-bottom: 2px solid #AAF;
}
/* 菜单按钮 */

.litemenubar li {
    color: #444;
    text-align: center;
}

.litemenubar li:hover {
	background-color: #eeeeee;
	color: #444;
}

.litearea{
    background-color: rgb(124, 124, 124);
}


.litesplitbar {
    background-color: #EBEEF2;
}
.litepanel .panel-header, .litedialog .panel-header {
    /* background-color: #fff;*/
    color: #000; 
    background-color: #EBEEF2;
    /* background-image: linear-gradient(right , #555, #333);
    background-image: -moz-linear-gradient(right , #555, #333);
    background-image: -webkit-linear-gradient(right , #555, #333); */
}
.litepanel, .litedialog {
    background-color: #fff;
    /* background-image: linear-gradient(top , #fff, #e1e1e1);
    background-image: -moz-linear-gradient(top , #fff, #e1e1e1);
    background-image: -webkit-linear-gradient(top , #fff, #e1e1e1); */
	color: #444;
}


.litetabs ul.wtabcontainer {
    border-bottom: 1px solid #eeeeee;
    color: #444
}

.litetabs li.wtab {

}

.litetabs li.wtab.selected {
	/* color: #EEE !important; */
	background-color: #eeeeee;
}

.litetabs ul.wtabcontainer li.wtab .tabclose:hover {
    /* background-color: #333; */
}
.litetabs .wtabcontent {
    /* background-color: #333;	 */
}

.litetabs li.wtab:hover:not(.selected) {
	background-color: #eeeeee;	
	color: #444;
}

.inspector {
    color: #444;
}


.inspector .separator {
	/* border-top: 1px solid #111;
    border-bottom: 1px solid #555; */
    
    border-top: 1px solid #eeeeee;
	/* border-bottom: 1px solid #eeeeee; */
}

::-webkit-scrollbar {
	background: #fff;
}
.inspector .inputfield {
    background-color: #eeeeee;
	border: 0;
	border-top: 1px solid #eeeeee; 
	border-bottom: 1px solid #eeeeee; 
	border-radius: 3px;	
}
.inspector .wcontent input, .inspector .wcontent textarea {
    padding-left: 3px;
    color: #444;
    background-color: transparent;
}
.inspector:not(.one_line) .widget.even {
    /* background-color: rgba(40,40,40,0.5); */
    background-color:#e1e1e1;
}
.inspector .widget:hover{
    background: #EBEEF2 !important;
}

.inspector .wsectiontitle {
    box-shadow: 0 -1px 1px rgba(68, 68, 68, 0.2);
    /* border-top: 1px solid #e1e1e1; */
    background-color: #EBEEF2;
    color: #444;
}
.inspector .wsection.collapsed .wsectiontitle {
    border-bottom: 1px solid #e1e1e1;
}

.inspector .wsectioncontent {
    background: #fff;
}
.inspector .wsection.selected .wsectiontitle {
	background-color: #eeeeee;
}

.inspector .wsection.selected .wsectioncontent {
	border: 2px solid #e1e1e1;
}

.inspector .wcontent button {
    /* background: -webkit-linear-gradient(#32302D, #4B4947) repeat scroll 0 0 transparent;
    background: -moz-linear-gradient(#32302D, #4B4947) repeat scroll 0 0 transparent;
    background: linear-gradient(#32302D, #4B4947) repeat scroll 0 0 transparent;
    box-shadow: 0 1px 0 #5B5957 inset, 0 -1px 0 black, 0 1px 0 black, -1px 0 0 black, 1px 0 0 black, 0 1px 1px #111111;
    color: #CCC;
    text-shadow: 0 1px 1px black; */
    background: #eeeeee;
}

.inspector .wcontent .inputcombo select {
    background: #eeeeee;
}
.inspector .wcontent .inputcombo {
	border-bottom: 1px solid #e1e1e1; 
    border-top: 1px solid #e1e1e1; 
}


.inspector .wcontent select {
	color: #444;
	background: #fff;
	/*font-size: 0.8em;*/
	border: 0;
	
	margin-right: 2px;
	width: -moz-calc(100% - 4px);
	width: -webkit-calc(100% - 4px);
	width: calc(100% - 4px);
}

.inspector .wcontent select.disabled {
	background: #eeeeee;
}

button.litebutton {
    outline:none;
}

button.litebutton:hover:not(:disabled) {
    background: #e1e1e1 !important;
}

button.litebutton:active:not(:disabled) {
    background: #fff !important;
}

.litegraph.litesearchbox {
	font-family:Tahoma, sans-serif;
	position: absolute;
	background-color: rgba(0,0,0,0.5);
	padding-top: 4px;
	left: 500px;
	top:300px;
	z-index: 999;
}

.litegraph.litesearchbox input, .litegraph.litesearchbox select {
	margin-top: 3px;
	min-width: 60px;
	min-height: 1.5em;
	background-color: black;
	border: 0;
	color: white;
	padding-left: 10px;
	margin-right: 5px;
}

.litegraph.litesearchbox .name {
	display: inline-block;
	min-width: 60px;
	min-height: 1.5em;
	padding-left: 10px;
}

.litegraph.litesearchbox .helper {
	overflow: auto;
	max-height: 200px;
	margin-top: 2px;
}

.litegraph.lite-search-item {
	font-family:Tahoma, sans-serif;
	background-color: rgba(0,0,0,0.5);
	color: white;
	padding-top: 2px;
}

lite-search-item:hover, lite-search-item.selected {
	cursor: pointer;
	background-color: white;
	color: black;
}